<h1>ViewModel as Observable examples:</h1>

<p>This technique tries to accomplish the following goals:</p>

<ul>
  <li>avoid having to manually unsubscribe any subscription.</li>
  <li>being able to use ChangeDetectionStrategy.onPush (for performance reasons)</li>
  <li>being a solution with no dependencies.</li>
  <li>it must be applicable in all cases.</li>
  <li>use observables for all viewmodel mutations and interactions</li>
</ul>

<h2>Counter</h2>
<app-counter></app-counter>

<h2>Persons</h2>
<app-persons></app-persons>

<h2>Filter</h2>
<app-filter></app-filter>
